.container {
    display: flex;
    padding: 20px;
    background-color: grey;
}
.box{
    padding:30px;
    text-align: center;
    flex:1;
    font-size: 20px;
    background-color: yellow;
}
@media(aspect-ratio:16/9){
    .container{
        flex-direction: column;
    }
    .box{
        background: none;
    }
}
